[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "secrettext"]
	path = secrettext
	url = https://github.com/daniellequinn/secrettext
